<div class="container"> <!-- This is the sign up page -->
  <div class="row">
    <!-- <img class="logo" src ="https://cdn.pbrd.co/images/dLZfcnEZi.png"> -->
    <%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
    <%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
    <%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>
    <h1 class="logo2">Memeify!</h1>
    <h5 class="indigo-text">Sign Up!</h5>
  </div>
  <div class="formwrap z-depth-1 grey lighten-4 row">
    <%= form_for("user", :url => user_session_path) do |f| %>
    <div class='row'>
      <div class='input-field col s12'>
        <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-field" %>
      </div>
    </div>

    <div class='row'>
      <div class='input-field col s12'>
        <% if @minimum_password_length %>
        <!-- <em>(<%#= @minimum_password_length %> characters minimum)</em> -->
        <% end %><br/>
        <%= f.password_field :password, placeholder: "Enter Password (#{@minimum_password_length} characters minimum)", autocomplete: "off", class: "form-field pwd"  %>
      </div>
    </div>

    <div class='row'>
      <%#= f.label :password_confirmation %><br />
      <div class='input-field col s12'>
        <%= f.password_field :password_confirmation, placeholder: "Confirm Password",  autocomplete: "off", class: "form-field"  %>
      </div>
    </div>

    <div class='row'>
      <br>
      <div class="actions">
        <%= link_to "Login", new_user_session_path, class: "action-button shadow animate blue blue2" %>
        <%= f.button 'Sign Up', class: "login action-button shadow animate red" %>
      </div>
    </div>
    <% end %> <!-- End of form erb -->
  </div>  <!-- End of  " formwrap " row -->
</div> <!-- End of container -->
