<div id="direct_upload">
  <h1>New picture</h1>
  <h2>Direct upload from the browser<% if @unsigned %>. Unsigned upload using a preset<% end %></h2>
  <p>You can also drag and drop an image file into the dashed area.</p>
  <%= form_for(@picture, :url => pictures_path) do |f| %>
      <%= f.label :image, "Image:" %>
          <%= link_to("Upload", "#", :class => "upload_button") %>
          <% if @unsigned %>
            <%= f.cl_unsigned_image_upload(:image_id, @preset_name) %>
          <% else %>
            <%= f.cl_image_upload(:image_id, :return_delete_token=>true) %>
          <% end %>
        <%= f.submit "Submit picture" %>
        <% if @error %><span class="error"><%= @error %></span><% end %>
  <% end %>

<a href="<%= pictures_path %>" class="back_link">Back to list</a>

<div id="info"></div>

<!-- Configure Cloudinary jQuery plugin -->
<%= cloudinary_js_config %>




<!-- <h1>New</h1>


<%= form_tag(pictures_path, :method => :post) do  %>
  <%= cl_image_upload_tag(:image_id) %>
  <%= submit_tag %>
  <% end %>

<%= form_for(@picture, :url => pictures_path) do |f| %>

  <%= f.cl_image_upload(:image) %>

  <%= f.submit %>
<% end %>


<%= cloudinary_js_config %>
 -->
