<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%= favicon_link_tag 'favicon.ico' %>
    <title>Memeify!</title>
    <meta name="description" content="An automatic image memeifier for all your memeing needs! Just upload any picture with a face, and watch it transform.">
    <meta name="keywords" content="meme facechanger face upload image unibrow funny memeify">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if current_user %>
    <strong>Hi! <%= current_user.email %></strong>
    <%= link_to "Log Out", destroy_user_session_path, :method => :delete %>
    <%# else %>
    <%#= link_to "Sign Up", new_user_registration_path %>
    <%#= link_to "Sign In", new_user_session_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
